include header1
include aside
.content-wrapper
    section.content
        .container-fluid
            include sub-header
            .col-md-12
                .card.card-success.card-outline
                    .card-header
                        h3.card-title Dashboard
                    .card-body.p-2.mt-2
                        .card-tools
                            .row
                                .col-md-4
                                    h3.card-title Amounts
                            .row
                                .col-md-4
                                    .small-box.bg-danger
                                        .inner 
                                            h4 #{total_expense}
                                            p Total Purchase Amount
                                .col-md-4
                                    .small-box.bg-success
                                        .inner 
                                            h4 #{total_recoveries}
                                            p Total Sale Amount
                                        //.icon
                                            i.fas.fa-arrow-up(style="color:red")
                                .col-md-4
                                    .small-box.bg-info
                                        .inner 
                                            h4 #{balance_amount}
                                            p Balance Amount
                            .row
                                .col-md-4
                                    h3.card-title Weights
                            .row
                                .col-md-4
                                    .small-box.bg-danger
                                        .inner 
                                            h4 #{total_weight_out}
                                            p Total Weight In
                                .col-md-4
                                    .small-box.bg-success
                                        .inner 
                                            h4 #{total_weight_in}
                                            p Total Weight Out
                                .col-md-4
                                    .small-box.bg-info
                                        .inner 
                                            h4 #{balance_weight}
                                            p Balance Weight
                            .row
                                .col-md-4
                                    h3.card-title Notes
                            .row
                                .col-md-4
                                    .small-box.bg-danger
                                        .inner 
                                            h4 #{total_weight_out}
                                            p Total Cheques
                                .col-md-4
                                    .small-box.bg-success
                                        .inner 
                                            h4 #{total_weight_in}
                                            p Paid Cheques
                                .col-md-4
                                    .small-box.bg-info
                                        .inner 
                                            h4 #{balance_weight}
                                            p Pending Cheques

include footer
script(src='/js/home.js')
script(src='/js/edit-gate-pass.js')